<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="src/app.js"></script>
<script src="assets/js/ui-bootstrap-2.5.0.min.js"></script>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="assets/css/style.css">-->
    <title>Open-WT-Front - Derouet Martin</title>
    <meta name="description" content="Proof of concept simple API for Open-WT">
    <meta name="author" content="Derouet Martin">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>
<div ng-controller="MainCtrl">
    <div class="container">
<span>
    Open-Wt-Front
</span>

        <h1 class="text-center">Authentification</h1>
        <div id="step1">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <form>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" ng-model="email" class="form-control" id="email"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" ng-model="password" class="form-control" id="password"
                                   placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="getToken()">Connexion</button>
                    </form>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label for="bearer"><strong>Your Bearer</strong></label>
                    <input class="form-control mb-3" type="text" ng-model="token" placeholder="Your bearer"
                           id="bearer" readonly>

                    <span><strong>Your informations</strong></span>
                    <input class="form-control mt-1 mb-1" type="text" ng-model="contact.email" placeholder="Your email"
                           readonly>
                    <input class="form-control mt-1 mb-1" type="text" ng-model="contact.firstname"
                           placeholder="Your firstname">
                    <input class="form-control mt-1 mb-1" type="text" ng-model="contact.lastname"
                           placeholder="Your lastname">
                    <input class="form-control mt-1 mb-1" type="text" ng-model="contact.address"
                           placeholder="Your address">
                    <input class="form-control mt-1 mb-1" type="text" ng-model="contact.mobilePhoneNumber"
                           placeholder="Your mobile number">
                    <div class="mt-3 d-flex justify-content-around">
                        <button type="submit" ng-click="getMyInformation()" class="btn btn-primary">Get my
                            informations
                        </button>
                        <button type="submit" class="btn btn-primary" ng-click="changeMyInformations()">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="step2" ng-show="config.step1">
            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" ng-click="getListContacts()" class="btn btn-primary mb-4">Get all contacts
                    </button>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Fullname</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in config.contact">
                    <td>{{ contact.fullname }}</td>
                    <td>{{ contact.address }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.mobilePhoneNumber }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
